body
{
background-color: whitesmoke;
color:#4b340950, 226, 183);
font-family:Times New Roman;
font-size: 10;
}
h1
{
  color:#4b340950, 226, 183;
  font-family: Calibri;
  font-size: 15;
}

p
{
  color:blue;
  font-family: Playlist Script;
   font-size: 15;
    
}
h2

{
color:yellow;
background-color: green;
font-family: Cooper Black;
  text-decoration: blink;


}
h3
{
background-color:blue;
}